$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$primary-blue: #00274c;
$secondary-blue: #004586;
$michigan-darkblue: #00274c;
$michigan-lightblue: #2D71A2;
$michigan-blue: #00468E;
$michigan-maize: #FCD000;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.container {
  max-width: 900px;
}

.navbar-theamed {
  background-color: $primary-blue;
  padding-left: 0.5em;
  padding-right: 0.5em;
  .navbar-brand {
    color: white;
  }
  .navbar-nav > li >a {
    color: white;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: $secondary-blue;
  }
  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    background-color: $secondary-blue;
  }
}
.navbar-right ~ .navbar-right {
  margin-right: 7px;
}

.app-landing {
  .marketing h1 {
    margin-top: 0;
  }
  input {
    margin-bottom: 5px;
  }
  .form-column {
    form button {
      float: right;
    }
  }
}


.social-feeds {
  * {
    margin-bottom: 5px;
  }

  body {
    background-color: rgb(237, 238, 239);
  }

  .text, .nameLink {
    font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  .nameLink {
    -webkit-tap-highlight-color: rgba(63, 114, 155, 0.298039);
    color: rgb(63, 114, 155);
    cursor: auto;
    font-weight: bold;
    height: 20px;
    text-decoration: none;
  }

  .text {
    color: rgb(34, 34, 34);
    height: auto;
    width: auto;
  }

  .instagram-post {
    word-wrap: break-word;
    padding: 10px;
  }

  .thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

div.hotel-registration input {
  margin-bottom: 5px;
}