<h1>Midwest Games</h1>

<p>Hi,</p>

<p>
Welcome to Midwest games! Click on the link below to activate your account:
</p>
<a href="http://localhost:9000/app/activation/<%= @user.activation_token %>?email=<%= @user.email %>">activate</a>
