<div class="col-md-12">
  <div class="container">
    <input class="form-control" type="text" style="width:300px; float:right; margin-bottom: 10px" placeholder="Search.." ng-model="name_text" />
    {{name_text}}
  </div>
  <div class="container university">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <b style="font-size: 20px">User List</b>
      </div>
      <div class="dropdown">
        <button class="btn btn-themed btn-block dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Filter by University
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li class="dropdown-list" ng-click="toggle()">All (Default)</a></li>
          <li class="divider"></li>
          <li class="dropdown-list" ng-repeat = "university in universities" ng-click="toggle('=' + university.name)">{{university.name}}<span class="badge badge-themed pull-right">{{university.count}}</span></a></li>
        </ul>
      </div>
      <div class="inner-panel">
      <table class="table table-hover" style="width:100%">
        <thead>
          <th class="admin-header">
            <a href="#" ng-click="orderByField='id'; reverseSort = !reverseSort">
            User ID <span ng-show="orderByField == 'id'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='first_name'; reverseSort = !reverseSort">
            First Name <span ng-show="orderByField == 'first_name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='last_name'; reverseSort = !reverseSort">
              Last Name <span ng-show="orderByField == 'last_name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='email'; reverseSort = !reverseSort">
              Email <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='university.name'; reverseSort = !reverseSort">
              University <span ng-show="orderByField == 'university.name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='authorization_level'; reverseSort = !reverseSort">
              Access Level <span ng-show="orderByField == 'authorization_level'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='registration_payment_status'; reverseSort = !reverseSort">
              Payment <span ng-show="orderByField == 'registration_payment_status'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th></th>
        </thead>
        <tr ng-repeat = "user in users | filter:name_text | orderBy:orderByField:reverseSort">
          <td>{{user.id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.university.name}}</td>
          <td>{{user.authorization_level}}</td>
          <td>{{user.registration_payment_status}}</td>
          <td><a href="admin-settings/{{user.id}}">Edit</a></td>
        </tr>
      </table>
    </div>
    </div>
  </div>

</div>
