<div class="panel panel-themed">
	<div class="panel-heading">
		<h3 class="panel-title">Accommodation</h3>
	</div>
	<div class="panel-body">
		<p>
		For Malaysian Midwest Games 2015, we have partnered with three hotels in Ann Arbor to give you the best hotel rates during your stay. The hotels and their details are listed below. Apart from partner hotels, there are other options such as hotels, inns and airbnb.
		</p>
    <p>
      By reserving, you agree to our <a href="assets/General Rules.pdf" target="_blank">terms and conditions</a>
    </p>
	</div>
</div>

<div class="panel panel-themed">
	<div class="panel-heading">
		<h3 class="panel-title">Red Roof Inn</h3>
	</div>
		<div class="panel-body">
		<div class="col-md-8">
		<table class="table table-striped table-bordered table-condensed">
			<tbody>
				<tr>
					<td>Name</td>
					<td>Red Roof Plus+ Ann Arbor, University of Michigan North</td>
				</tr>
				<tr>
					<td>Address</td>
					<td><a href="https://www.google.com/maps/place/Red+Roof+Plus%2B+Ann+Arbor+-+University+of+Michigan+North/@42.3099633,-83.7092758,12z/data=!4m5!1m2!2m1!1sred+roof+inn!3m1!1s0x883cac1afca67df5:0xeb72cb168d07c6e2" target="blank">3621 Plymouth Rd Ann Arbor, MI 48105</a></td>
				</tr>
				<tr>
					<td>Reservation Rate</td>
					<td>$79.99 per room</td>
				</tr>
				<tr>
					<td>Room Details</td>
					<td>Double Beds Bedroom</td>
				</tr>
        <tr>
          <td>Booking Instructions</td>
          <td>Click the link below. Then click 'Book now'!  You can also use the code 'B045MAL529' to get the same rates.</td>
        </tr>
				<tr>
					<td>Reservation Link</td>
					<td><a href="https://www.redroof.com/partners/malaysia_midwest_games_international/" target="blank">Click here to reserve now</a></td>
				</tr>
				<tr>
					<td>Reservation Deadline</td>
					<td><b>May 15.</b> First Come First Serve Basis; Limited Number of Available Room</td>
				</tr>
        <tr>
          <td>Free Amenities</td>
          <td>Wifi, Parking, Breakfast included.</td>
        </tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<img src="images/redroof.jpg" class="img-responsive img-circle center-block">
	</div>
</div>
</div>


<div class="panel panel-themed">
	<div class="panel-heading">
		<h3 class="panel-title">Holiday Inn</h3>
	</div>
		<div class="panel-body">
		<div class="col-md-8">
		<table class="table table-striped table-bordered table-condensed">
			<tbody>
				<tr>
					<td>Name</td>
					<td>Holiday Inn Hotel & Suites, University of Michigan Area</td>
				</tr>
				<tr>
					<td>Address</td>
					<td><a href="https://www.google.com/maps/place/Holiday+Inn+Hotel+%26+Suites+Ann+Arbor+Univ.+Michigan+Area/@42.3099633,-83.7092758,12z/data=!4m5!1m2!2m1!1sholiday+inn!3m1!1s0x883caf9667275d45:0x64fd6925134fd68" target="blank">3155 Boardwalk Dr Ann Arbor, MI 48108</a></td>
				</tr>
				<tr>
					<td>Reservation Rate</td>
					<td>$99.99 per room</td>
				</tr>
				<tr>
					<td>Room Details</td>
					<td>Double Beds Bedroom, King Beds Bedroom</td>
				</tr>
				<tr>
					<td>Booking Instructions</td>
					<td>1. Call hotel directly at 734-213-1900, and ask to book a room with "Malaysian Midwest Games Room Block"
					<br>
					2. Click on the link below and complete reservation. Enter the dates and click on "Check Availability".
          </td>
				</tr>
				<tr>
					<td>Reservation Link</td>
					<td><a href="
					http://www.holidayinn.com/hotels/us/en/ann-arbor/arbep/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&qChld=0&qFRA=1&qGRM=0&qGrpCd=MAL&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=12&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505&icdv=99801505" target="blank">Click here to reserve now</a></td>
				</tr>
				<tr>
					<td>Reservation Deadline</td>
					<td><b>April 23rd.</b> To reserve after the date, please call hotel directly, but rates are not guaranteed.</td>
				</tr>
        <tr>
          <td>Free Amenities</td>
          <td>Wifi, Parking included.</td>
        </tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<img src="images/holiday inn.jpg" class="img-responsive img-circle center-block">
	</div>
</div>
</div>


<div class="panel panel-themed">
	<div class="panel-heading">
		<h3 class="panel-title">Fairfield Inn</h3>
	</div>
		<div class="panel-body">
		<div class="col-md-8">
		<table class="table table-striped table-bordered table-condensed">
			<tbody>
				<tr>
					<td>Name</td>
					<td>The Fairfield Inn by Marriott Ann Arbor</td>
				</tr>
				<tr>
					<td>Address</td>
					<td><a href="https://www.google.com/maps/search/The+Fairfield+Inn+by+Marriott+Ann+Arbor/@42.239157,-83.735025,17z/data=!3m1!4b1" target="blank">3285 Boardwalk Dr Ann Arbor, MI 48108</a></td>
				</tr>
				<tr>
					<td>Reservation Rate</td>
					<td>$94.00 per room </a></td>
				</tr>
				<tr>
					<td>Room Details</td>
					<td>Double Beds Bedroom</td>
				</tr>
				<tr>
					<td>Booking Instructions</td>
					<td>1. Call hotel directly at 734-995-5200
					<br>
					2. Click on the link below and complete reservation. Enter the dates and click on "Check Availability".
          </td>
				</tr>
				<tr>
					<td>Reservation Link</td>
					<td><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Malaysian%20Midwest%20Games%202015%5Earbfi%60MMGMMGB%7CMMGMMGD%6094.00%60USD%60false%605/22/15%605/25/15%604/22/15&app=resvlink&stop_mobi=yes" target="blank">Click here to reserve now</a></td>
				</tr>
				<tr>
					<td>Reservation Deadline</td>
					<td><b>April 21st.</b> To reserve after the date, please call hotel directly, but rates are not guaranteed.</td>
				</tr>
        <tr>
          <td>Free Amenities</td>
          <td>Wifi, Parking, Breakfast and Fitness Center included.</td>
        </tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<img src="images/fairfield inn.jpg" class="img-responsive img-circle center-block">
	</div>
</div>
</div>
