<div class="points">
  <div class="panel panel-themed">
    <div class="panel-heading">
      <div class="panel-title">MMG 2015 Check In Information</div>
    </div>

    <div class="panel-body">
      <p>In Malaysia Midwest Games 2015, Check In (formally known as registration) will be held at Mason Hall.</p>

      <p>Participants must check in to register that they are physically here, and to collect the registration
      package that we have prepared for them.</p>

      <p>Inside the registration package, you will find your name tag, shirt (if you have pre-ordered it),
      Ann Arbor Walking Map, Ann Arbor Visitor Guide, coupon deals and flyers to nearby restaurants.</p>

      <table class="table table-bordered table-hover">
        <thead>
          <b>Check in Details</b>
        </thead>
        <tbody>
          <tr>
            <th>
              Where:
            </th>
            <td>
              University of Michigan - Ann Arbor's Mason Hall Posting Wall
              <a href="https://maps.google.com/?saddr=Current+Location&daddr=Mason Hall Umich" target="_blank">
                <button class="btn btn-themed">
                  Click me for Google Map Direction! <span class="glyphicon glyphicon-new-window"></span>
                </button>
              </a>
            </td>
          </tr>
          <tr>
            <th>
              When:
            </th>
            <td>
              Session 1: 10am - 4pm (University of Michigan - Ann Arbor Students ONLY)
              <br>
              Session 2: 4pm - 10pm (Open to all except University of Michigan - Ann Arbor Students)
            </td>
          </tr>
          <tr>
            <th>
              Parking:
            </th>
            <td>
              Street Parking on South State Street ($1.40 per hour between Mon - Sat 8am - 6pm. Free otherwise)
              Parking is directly outside Angell Hall Entrance (pic below).
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div class="col-md-12 center_image">
          <img src="http://imgick.mlive.com/home/mlive-media/width620/img/annarbornews_entertainment_impact/photo/14647289-mmmain.jpg">
        </div>
        Caption: Angell Hall Entrance
      </div>

      <h3>History of Mason Hall</h3>
      <p>Mason hall is connected with Angell Hall, Tisch Hall and Haven Hall. However, its grandness often is hiddent
      under the grandness of Angell Hall entrance. Believe it or not, Mason Hall was the first University building
      ever built in University of Michigan - Ann Arbor's history. For more information, check out
        <a href="http://umhistory.dc.umich.edu/mort/original/1850/mason/">this link
          <span class="glyphicon glyphicon-new-window"></span></a></p>

    </div>
  </div>
</div>
