<div class="immigration">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-themed">
        <div class="panel-heading">
          <h3 class="panel-title">Immigration Information </h3>
        </div>
        <div class="panel-body">
          <p>
            <h4>Good News!</h4> Consulate General of Malaysia in New York is coming to University of Michigan, Ann Arbor to provide immigration services for fellow Malaysians during Malaysia Midwest Games 2015.
          </p>
          <p>
            Details are as below:-
          </p>

          <table class="table table-striped">
            <tbody class="col-sm-8">
              <tr>
                <td class="col-sm-3 table-title">Date</td>
                <td class="col-sm-9">May 23rd, 2015 (Saturday)</td>
              </tr>
              <tr>
                <td class="col-sm-3 table-title">Time</td>
                <td class="col-sm-9">11:00 a.m. - 05:00 p.m.</td>
              </tr>
              <tr>
                <td class="col-sm-3 table-title">Location</td>
                <td class="col-sm-9">CCRB Room 3275 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-themed">
        <div class="panel-body">
          <p>
            Click on the list of services below to learn more.
          </p>

          <div class="btn-group-vertical btn-block">
            <label class="btn" ng-repeat="serv in serviceList" ng-click="open_consular(serv)">
              {{serv.title}}
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
