<div class="panel panel-themed contact-us">
  <div class="panel-heading"><h3 class="panel-title">Contact us</h3></div>
  <div class="panel-body">
    <form method="post" action="https://midwestemail.herokuapp.com/user/dc7a6c6c-d62a-4dfd-9700-ac78da68068c">
    	<div class="row">
    		<div class="col-md-6">
    			<input class="form-control" type="text" name="name" placeholder="Name">
    		</div>
    		<div class="col-md-6">
    			<input class="form-control" type="text" name="email" placeholder="Email">
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-md-12">
    			<textarea class="form-control" name="message" placeholder="Message"></textarea>
    		</div>
    	</div>
    	<button type="submit" class="pull-right btn btn-primary">Submit</button>
    	<div class="clearfix"></div>
    </form>
  </div>
</div>