<div class="credits">
	<div class="row">
		<div class="panel panel-themed">
			<div class="panel-body">
				<p class="appreciation-message">
					The organizing committee of the Malaysia Midwest Games 2015 would like to express our heartfelt gratitude to all sponsors as well as all parties involved, be it directly or indirectly, in the planning of this event.
					<br/>
					With them, Malaysia Midwest Games 2015 is made possible!
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-themed">
			<div class="panel-heading">
				<h3 class="panel-title">Sponsors</h3>
			</div>
			<div class="panel-body">
				<table class="table sponsor-table">
					<tbody class="col-sm-10 col-sm-offset-1">
						<tr>	
							<td class="col-xs-5">
								<a href="http://www.emchicago.org/web/" target="_blank">
									<img src="images/sponsor/emc.jpg" class="img-responsive img-thumbnail center-block" alt="EMC logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>Education Malaysia Chicago (EMC)</span>
							</td>
						</tr>
						<tr>	
							<td class="col-xs-5">
								<a href="http://www.mara.gov.my/en/home" target="_blank">
									<img src="images/sponsor/mara.jpg" class="img-responsive img-thumbnail center-block" alt="MOE logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>Majlis Amanah Rakyat (MARA)</span>
							</td>
						</tr>
						<tr>	
							<td class="col-xs-5">
								<a href="http://www.indiana.edu/~msaiub/" target="_blank">
									<img src="images/sponsor/msaiub.jpg" class="img-responsive img-thumbnail center-block" alt="MSAIUB logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>Malaysian Student Association of Indiana University Bloomington</span>
							</td>
						</tr>
						<tr>	
							<td class="col-xs-5">
								<a href="http://www.moe.gov.my/en/home" target="_blank">
									<img src="images/sponsor/moe.jpg" class="img-responsive img-thumbnail center-block" alt="MOE logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>Ministry of Education Malaysia</span>
							</td>
						</tr>
						<tr>	
							<td class="col-xs-5">
								<a href="https://www.tm.com.my/global/html/index.html" target="_blank">
									<img src="images/sponsor/tm.jpg" class="img-responsive img-thumbnail center-block" alt="TM (USA) logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>Telekom Malaysia Berhad (USA)</span>
							</td>
						</tr>
						<tr>
							<td class="col-xs-5">
								<a href="http://corporate.tourism.gov.my/" target="_blank">
									<img src="images/sponsor/TourismMalaysia.jpg" class="img-responsive img-thumbnail center-block" alt="Tourism Malaysia logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>Tourism Malaysia</span>
							</td>
						</tr>
						<tr>
							<td class="col-xs-5">
								<a href="http://www.ii.umich.edu/isp" target="_blank">
									<img src="images/sponsor/isp.jpg" class="img-responsive img-thumbnail center-block" alt="ISP logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>U of M Islamic Studies Program (ISP)</span>
							</td>
						</tr>
						<tr>	
							<td class="col-xs-5">
								<a href="http://mesa.umich.edu/" target="_blank">
									<img src="images/sponsor/mesa.jpg" class="img-responsive img-thumbnail center-block" alt="MESA logo">
								</a>
							</td>
							<td class="col-xs-7">
								<span>U of M Office of Multi-Ethnic Students Affairs</span>
							</td>
						</tr>
					</tbody>	
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-themed">
			<div class="panel-heading">
				<h3 class="panel-title">Appreciations</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-6">
					<ul class="list-group">
						<li class="list-group-item">
							<span>
								Education Malaysia Chicago
							</span>
							<ul>
								<li>Azimah Binti Aziz</li>
								<li>Nadimin Abdul Aziz</li>
								<li>Noor Marlina Ahmad Rudzly</li>
								<li>Alzashha Illiyyin Zainal Alam</li>
								<li>Masziah Ahmad</li>
								<li>Gamal Y Jamaludin</li>
								<li>Abd. Rahman Nawi</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span>
								University of Michigan
							</span>
							<ul>
								<li>
									<span>Center for Campus Involvement</span>
									<ul>
										<li>Nicholas Smith</li>
										<li>Samantha Musil</li>
									</ul>
								</li>
								<li>
									<span>Recsports</span>
									<ul>
										<li>Nicole Green</li>
									</ul>
								</li>
								<li>
									<span>International Center</span>
									<ul>
										<li>Louise Baldwin</li>
									</ul>
								</li>
								<li>
									<span>Office of Multi-Ethnic Students Affairs</span>
									<ul>
										<li>Linh Nguyen</li>
									</ul>
								</li>
								<li>
									<span>Department of Public Safety</span>
									<ul>
										<li>Marlanna Landeros</li>
									</ul>
								</li>
								<li>
									<span>Department of Risk Management</span>
									<ul>
										<li>Ann Zalucki</li>
										<li>Dianne Pernak</li>
										<li>Chip Hartke</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span>Ann Arbor Convention and Visitor Bureau</span>
							<ul>
								<li>Meaghan Hughes</li>
								<li>Dennis Doyle</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul class="list-group">
						<li class="list-group-item">
							<span>Government Agencies</span>
							<ul>
								<li>Consulate General of Malaysia</li>
								<li>Sponsoring Bodies</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span>Kleinschmidt Insurance Agency</span>
							<ul>
								<li>Patrick Grace</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span>Food Vendors</span>
							<ul>
								<li>Happy Wok</li>
								<li>Jamaican Jerk Pit</li>
								<li>Lucky Kitchen</li>
								<li>Rasa Ria</li>
								<li>Suvai Palace</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span>Production Companies</span>
							<ul>
								<li>Quest Production</li>
								<li>THS Audio</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span>Rental Companies</span>
							<ul>
								<li>A1 Rental</li>
								<li>American Rental</li>
							</ul>
						</li>
						<li class="list-group-item">
							<span>Special Thanks to</span>
							<ul>
								<li>Malaysian Students' Associations in US &amp; Canada</li>
								<li>KULN</li>
								<li>Vinodharen Nair</li>
								<li>Mas Ayu Akib</li>
								<li>Az Wan</li>
								<li>Amir Isa</li>
								<li>Zaimi Noordin</li>
								<li>Deng Fatimah Bolhassan</li>
								<li>Participants</li>
								<li>Parents</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>