<div class="row dashboard">
  <div class="col-md-12">
    <alert class="alert-danger">Registration and Registration Payment Deadline is <b>May 3rd, 2015. Register and pay now!</b></alert>
  </div>
  <div class="col-md-5">
    <div class="panel panel-themed user-info-panel">
      <div class="panel-body">
        <div class="first-name">{{currentUser.first_name}}</div>
        <div>{{currentUser.first_name}} {{currentUser.last_name}}</div>
        <div>{{currentUser.university.name}}</div>
        <div>{{currentUser.email}}</div>
        <span class="edit-user-info">
          <a href="/app/user-settings"
             tooltip-placement="bottom"
             tooltip="User settings">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </span>
      </div>
    </div>
    <div class="panel panel-themed user-info-panel" ng-show="teams.length != 0">
      <div class="panel-body">
        <div ng-repeat="team in teams">
          <div ng-show="team.status != 'declined'">
            <div class="team-name">
              {{ team.name }}
            </div>
            <div> <i>{{ team.gamename }} {{ team.gamecategory }}</i></div>
            <br ng-show="team.index != (teams.length - 1)">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-themed" ng-show="todos.length">

      <!-- Modal script -->
      <div class="panel-heading">
        <h3 class="panel-title">What to do next?</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="todo in todos">
          {{ todo.title }}
          <a href="{{ todo.link }}" ng-disabled="!todo.link" role="button" target="{{todo.target}}" class="btn btn-primary btn-xs pull-right">{{ todo.label }}</a>
        </li>
        <li class="list-group-item">
          Volunteer for your contingent now!
          <a href="{{ todo.link }}" ng-disabled="!todo.link" role="button" target="{{todo.target}}" class="btn btn-primary btn-xs pull-right">Let's win some points!</a>
        </li>
        <li class="list-group-item">
          Buy Your MMG 2015 Shirt now!
          <script type="text/ng-template" id="official_shirt.html">
            <div class="modal-header">
              <h1 class="modal-title">
                <button class="btn btn-themed pull-right btn-lg" ng-show="payId === 0" ng-disabled="amount == 0" class="contact-us" ng-click="paymentInit('Sports registration')">Pay ${{amount}}</button>

                Malaysia Midwest Games 2015 Official Shirt
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-show="payId !== 0" class="ng-hide pull-right">
                  <input type="hidden" name="cmd" value="_xclick">
                  <input type="hidden" name="business" value="midwestmalaysia@gmail.com">
                  <input type="hidden" name="invoice" value="{{payId}}">
                  <input type="hidden" name="notify_url" value="http://{{ host }}/api/hook">
                  <input type="hidden" name="item_name" value="{{regType}}" ng-model="regType">
                  <input type="hidden" name="return" value="http://{{ host }}/app/payment/done">
                  <input type="hidden" name="rm" value="1">
                  <input type="hidden" name="no_shipping" value="1">
                  <input type="hidden" name="currency_code" value="USD">
                  <input type="hidden" name="amount" value="{{amount}}">
                  <button class="btn btn-success pull-right btn-lg" ng-click="setAmount(amount, 'Shirt')" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">Pay ${{amount}}?</button>
                </form>
                <a class="btn btn-themed pull-right btn-lg contact-us" ng-show="currentUser.sports_payment_unpaid" ng-href="contact-us" role="button">Contact us</a>
              </h1>
            </div>
            <div class="modal-body row">
              <div class="col-md-7" style="max-width: 500px">
                <a href="images/MMG2015_Participants_Shirt.jpg" target="_blank"><img class="img-responsive" src="images/MMG2015_Participants_Shirt.jpg"></a>
              </div>
              <div class="col-md-5">

                <!-- Shirt sleeves and sizes-->
                <form name="Shirt" ng-submit="submitShirtSale()">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3>**Ordering starts May 3rd, 2015**</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6"><h3>Short sleeves</h3></div>
                    <div class="col-xs-6"><h3>Long sleeves</h3></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6"><h4>One for $15</h4></div>
                    <div class="col-xs-6"><h4>One for $20</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6"><h4>Two for $25</h4></div>
                    <div class="col-xs-6"><h4>Two for $35</h4></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3"><h4>S</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Short-s"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Short.s">
                    </div>
                    <div class="col-xs-3"><h4>S</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Long-s"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Long.s">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3"><h4>M</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Short-m"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Short.m">
                    </div>
                    <div class="col-xs-3"><h4>M</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Long-m"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Long.m">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3"><h4>L</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Short-l"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Short.l">
                    </div>
                    <div class="col-xs-3"><h4>L</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Long-l"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Long.l">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3"><h4>XL</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Short-xl"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Short.xl">
                    </div>
                    <div class="col-xs-3"><h4>XL</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Long-xl"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Long.xl">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3"><h4>XXL</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Short-xxl"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Short.xxl">
                    </div>
                    <div class="col-xs-3"><h4>XXL</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Long-xxl"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Long.xxl">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3"><h4>XXXL</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Short-xxxl"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Short.xxxl">
                    </div>
                    <div class="col-xs-3"><h4>XXXL</h4></div>
                    <div class="col-xs-3">
                      <input type="number"
                             name="shirt-Long-xxxl"
                             class="form-control"
                             placeholder="0"
                             ng-model="shirt.Long.xxxl">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-lg pull-right" ng-disabled="true">Confirm Order</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-md" ng-click="close()">Close</button>
            </div>
          </script>
          <button class="btn btn-primary btn-xs pull-right" ng-click="open('lg')">I want one!</button>
        </li>
      </ul>


    </div>
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Payments</h3>
      </div>
      <table class="panel-body table table-bordered">
        <tr>
          <th>General registration</th>
          <td>{{(currentUser.registration_payment_status && "Paid") || "Payment pending"}}</td>
        </tr>
        <tr>
          <th>Sports registration</th>
          <td>{{("Please register for general registration first before registering for sports" && currentUser.registration_payment_status == false) || (currentUser.sports_payment_uninit && "Payment pending") || (currentUser.sports_payment_unpaid && "Payment pending") || (currentUser.sports_payment_status && "Paid")}}</td>
        </tr>
      </table>
    </div>
    <div class="panel panel-themed" ng-show="participating.length != 0">
      <div class="panel-heading">
        <h3 class="panel-title">Invitation</h3>
      </div>
      <table class="table table-bordered">
        <tr ng-repeat="participate in participating">
          <td class="col-xs-4">
            <b>{{ participate.name }}</b>
            <br>
            <i>{{ participate.gamename }} {{ participate.gamecategory}}</i>
          </td>
          <td ng-show="status == 'invite'">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-danger pull-right btn-md" ng-show="status == 'invite' && participate.status=='invite_request'" ng-click="decline(participate.id)">Decline</button>
              <button type="submit" class="btn btn-success pull-right btn-md" ng-show="status == 'invite' && participate.status=='invite_request'" ng-click="accept(participate.id)">Accept</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
