<div class="row dashboard">
  <div class="col-md-5">
    <div class="panel panel-themed user-info-panel">
      <div class="panel-body">
        <div class="first-name">{{currentUser.user.first_name}}</div>
        <div>{{currentUser.user.first_name}} {{currentUser.user.last_name}}</div>
        <div>{{currentUser.user.university.name}}</div>
        <div>{{currentUser.user.email}}</div>
        <span class="edit-user-info">
          <a href="/app/user-settings" 
             tooltip-placement="bottom" 
             tooltip="User settings">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">What to do next?</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          Pay for your registration
          <a href="payment"  role="button" class="btn btn-primary btn-xs pull-right">Pay here</a>
        </li>
        <li class="list-group-item">
          Answer questionaire
          <a href="#"  role="button" class="btn btn-primary btn-xs pull-right" disabled="disable">Questionaire</a>
        </li>
        <li class="list-group-item">
          Register for sports
          <a href="#"  role="button" class="btn btn-primary btn-xs pull-right" disabled="disable">Register</a>
        </li>
      </ul>
    </div>
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Your registration</h3>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>General payment</th>
          <td>Paid</td>
        </tr>
      </table>
    </div>
  </div>
</div>
