<div class="row dashboard">
  <div class="col-md-12">
    <alert class="alert-danger">Registration and Registration Payment Deadline is <b>May 3rd, 2015. Register and pay now!</b></alert>
  </div>
  <div class="col-md-5">
    <div class="panel panel-themed user-info-panel">
      <div class="panel-body">
        <div class="first-name">{{currentUser.first_name}}</div>
        <div>{{currentUser.first_name}} {{currentUser.last_name}}</div>
        <div>{{currentUser.university.name}}</div>
        <div>{{currentUser.email}}</div>
        <span class="edit-user-info">
          <a href="/app/user-settings"
             tooltip-placement="bottom"
             tooltip="User settings">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </span>
      </div>
    </div>
    <div class="panel panel-themed user-info-panel" ng-show="teams.length != 0">
      <div class="panel-body">
        <div ng-repeat="team in teams">
          <div ng-show="team.status != 'declined'">
            <div class="team-name">
              {{ team.name }}
            </div>
            <div> <i>{{ team.gamename }} {{ team.gamecategory }}</i></div>
            <!--br ng-show="team.index != teams.length - 1"-->
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-themed" ng-show="todos.length">
      <div class="panel-heading">
        <h3 class="panel-title">What to do next?</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="todo in todos">
          {{ todo.title }}
          <a href="{{ todo.link }}" ng-disabled="!todo.link" role="button" target="{{todo.target}}" class="btn btn-primary btn-xs pull-right">{{ todo.label }}</a>
        </li>
      </ul>
    </div>
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Payments</h3>
      </div>
      <table class="panel-body table table-bordered">
        <tr>
          <th>General registration</th>
          <td>{{(currentUser.registration_payment_status && "Paid") || "Payment pending"}}</td>
        </tr>
        <tr>
          <th>Sports registration</th>
          <td>{{("Please register for general registration first before registering for sports" && currentUser.registration_payment_status == false) || (currentUser.sports_payment_uninit && "Payment pending") || (currentUser.sports_payment_unpaid && "Payment pending") || (currentUser.sports_payment_status && "Paid")}}</td>
        </tr>
      </table>
    </div>
    <div class="panel panel-themed" ng-show="participating.length != 0">
      <div class="panel-heading">
        <h3 class="panel-title">Invitation</h3>
      </div>
      <table class="table table-bordered">
        <tr ng-repeat="participate in participating">
          <td class="col-xs-4">
            <b>{{ participate.name }}</b>
            <br>
            <i>{{ participate.gamename }} {{ participate.gamecategory}}</i>
          </td>
          <td ng-show="status == 'invite'">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-danger pull-right btn-md" ng-show="status == 'invite' && participate.status=='invite_request'" ng-click="decline(participate.id)">Decline</button>
              <button type="submit" class="btn btn-success pull-right btn-md" ng-show="status == 'invite' && participate.status=='invite_request'" ng-click="accept(participate.id)">Accept</button>
            </div>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
