<div class="row eventmaps">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" class="col-md-6"></ui-gmap-google-map>
  <div class="col-sm-6" id="control">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">Start</label>
        <div class="col-sm-8">
          <select class="form-control" ng-model="routePoints.start"
                  ng-options="route.name for route in map.routes.start" ng-change="calcRoute(routePoints);">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">End</label>
        <div class="col-sm-8">
          <select class="form-control" ng-model="routePoints.end"
                  ng-options="route.name for route in map.routes.end" ng-change="calcRoute(routePoints);" >
          </select>
        </div>
      </div>
    </form>
    <div id="panel"><b ng-hide="received">Directions will appear here</b></div>
  </div>
</div>
