<div class="immigration">
  <div class="row">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Immigration Information </h3>
      </div>
      <div class="panel-body">
        <p>
          Good News! Consulate General of Malaysia in New York is coming to University of Michigan, Ann Arbor to provide immigration services for fellow Malaysians during Malaysia Midwest Games 2015.
        </p>
        <p>
          Details are as below:-
        </p> 

        <table class="table table-striped">
          <tbody class="col-sm-6">
            <tr>
              <td class="col-sm-3 table-title">Date</td>
              <td class="col-sm-3">May 23rd, 2015 (Saturday)</td>
            </tr>
            <tr>
              <td class="col-sm-3 table-title">Time</td>
              <td class="col-sm-3">11:00 a.m. - 05:00 p.m.</td>
            </tr>
            <tr>
              <td class="col-sm-3 table-title">Location</td>
              <td class="col-sm-3">TBA</td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</div>