<div class="immigration">
  <div class="row">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Immigration Information </h3>
      </div>
      <div class="panel-body">
        <p>
          Good News! Consulate General of Malaysia in New York is coming to University of Michigan, Ann Arbor to provide immigration services for fellow Malaysians during Malaysia Midwest Games 2015.
        </p>
        <p>
          Details are as below:-
        </p> 

        <table class="table table-striped">
          <tbody class="col-sm-6">
            <tr>
              <td class="col-sm-3 table-title">Date</td>
              <td class="col-sm-3">May 23rd, 2015 (Saturday)</td>
            </tr>
            <tr>
              <td class="col-sm-3 table-title">Time</td>
              <td class="col-sm-3">11:00 a.m. - 05:00 p.m.</td>
            </tr>
            <tr>
              <td class="col-sm-3 table-title">Location</td>
              <td class="col-sm-3">TBA</td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>

    <div class="panel panel-themed">
      <div class="panel-body">
        <p>
          Services provided are as follow:- 
        </p>

        <div class="btn-group-vertical btn-block">
          <label class="btn" ng-repeat="serv in serviceList" ng-model="$parent.selectedService" btn-radio="serv" ng-click="update()">
            {{serv.title}}
          </label>
        </div>

        <script type="text/ng-template" id="m_immigration.html">
          <div class="modal-header">
            <h3 class="modal-title">{{ selectedService.title }}</h3>
          </div>
          <div class="modal-body">
            <iframe ng-src="{{ selectedService.link }}" width="100%" height="400px"></iframe>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="close()">Close</button>
          </div>
        </script>

        <button class="btn btn-themed-inverse" ng-show="select" ng-click="open_immigration('lg')">Click for Details</button>

      </div>
    </div>
  </div>
</div>