<div class="points">
  <div class="panel panel-themed">
    <div class="panel-heading">
      <div class="panel-title">MMG 2015 Brackets Live Draw</div>
    </div>

    <div class="panel-body">
      <div class="details">
        <p>
          This year we will be doing live draws for each games that will be played.
          The purpose of the live draw is so that each team can have a first hand knowledge about the brackets they are
          in and what to expect during the event itself.
        </p>
        <p>
          We will be doing our live draw in our <a href="http://www.twitch.tv/midwestmalaysia" target="_blank">Twitch channel</a>.
          Just click the link and watch :D.
        </p>
        <p>
          Games that are not on the schedule are most likely either Round Robin or most Pinfall games which do not require
          any draws.
        </p>
      </div>
      <h3>Live Draw Schedule</h3>
      <tabset>
        <tab heading="Original Schedule">
          <!--h4>Updated as of May 16, 2015</h4>
          <a href="images/MMG2015_Live_Draw_Schedule.png" target="_blank"><img src="images/MMG2015_Live_Draw_Schedule.png" width="100%"></a-->
          <h3>Monday 7.30pm</h3>
          <ul>
            <li>Dodgeball</li>
            <li>Squash Men</li>
            <li>FIFA 15 Dual</li>
            <li>FIFA 15 Individual</li>
            <li>Futsal Men</li>
            <li>Futsal Women</li>
            <li>Flag Rugby</li>
          </ul>
          <h3>Tuesday 7.30pm</h3>
          <ul>
            <li>Dota 2</li>
            <li>Table Tennis Men Doubles</li>
            <li>Table Tennis Men Singles</li>
            <li>Table Tennis Women Singles</li>
            <li>Badminton Men Singles</li>
            <li>Badminton Men Doubles</li>
            <li>Badminton Mixed Doubles</li>
            <li>Badminton Women Doubles</li>
            <li>Badminton Women Singles</li>
            <li>Ultimate Frisbee</li>
          </ul>
          <h3>Wednesday 7pm</h3>
          <ul>
            <li>Dota 2</li>
            <li>Takraw</li>
            <li>Tug Of War</li>
            <li>Tennis Mixed Doubles</li>
            <li>Tennis Men Singles</li>
            <li>Chess</li>
            <li>Carrom</li>
            <li>Congkak</li>
            <li>Pool</li>
            <li>Special Announcement</li>
            <li>Soccer</li>
          </ul>
          <h3>Games that are not listed for livedraw are either round robins or most pinfall, which will not require draws</h3>
        </tab>
        <tab heading="Sort by Games">
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Games</th>
              <th>Live Draw Session</th>
              <!--th>Things to bring</th-->
              <th>More information</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="game in games">
              <td>{{ game.name }} {{ game.category }}</td>
              <!--td>{{ game.live_draw_session }}</td-->
              <td>To be announced</td>
              <td>
                <!--button class="btn btn-danger">Things to bring</button>
                <button class="btn btn-primary">Logistics</button-->
                <button class="btn btn-primary" ng-click="open(game)">Rules</button>
              </td>
            </tr>
            </tbody>
          </table>
        </tab>
      </tabset>

    </div>
  </div>
  <script type="text/ng-template" id="rules.html">
    <div class="modal-header">
      <h3 class="modal-title">{{ selectedSport.name }}</h3>
    </div>
    <div class="modal-body">
      <iframe ng-src="{{ selectedSport.link }}" width="100%" height="400px"></iframe>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
  </script>
</div>
