<div class="immigration">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-themed">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <img src="images/LK Logo.png" height="300px" width="300px">
            </div>
            <div class="col-md-6">
              <h3>Lucky Kitchen</h3>
              <h4><a href="https://www.michigandaily.com/arts/4best-chinese-food-lucky-kitchen16" target="_blank">Voted Best Chinese Food of Ann Arbor 2015</a></h4>
            </div>
          </div>

          <p>
            At Lucky Kitchen, we are dedicated to great service and quality products.  Here are only some of the reasons why you should choose LK.
            We Use:

            Lean Quality Meats or Tofu
            Benefits:  Meets your daily protein requirements, and helps reduce your intake of cholesterol, saturated fat and calories.

            Wide assortment of Fresh Vegetables
            Benefits:  Provides a good source of fiber, minerals and vitamins.

            Quality Jasmine or Brown Rice
            Benefits:  Provides a good source of complex carbohydrates, low in fat and contains no cholesterol.

            Water instead of Oil
            Benefits:  While most Asian restaurants use oil to cook.  At LK, we run our vegetables in a water bath before stir-frying.
            This method not only cuts down on the calorie and fat content of the dishes, it also preserves the nutrients in them.

            Fast and Efficient
            Benefits:  All dishes are prepared within ten minutes.  It is quick and energy efficient.

            Gluten Free and Vegan Options are available upon request
            Benefits:  We use gluten free soy sauce upon request.  We do not use dairy products in our cooking.

            Lucky Kitchen welcomes you to try our menu.  Like us on Facebook and Instagram a pic of our food and hash tag (#Lucky Kitchen A2).  Enjoy a FREE Appetizer by writing a review.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
