<div class="immigration">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-themed">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div style="height: 400px; width: 100%">
                <carousel interval="myInterval">
                  <slide ng-repeat="slide in slides" active="slide.active">
                    <img src="{{slide.image}}" style="margin:auto; width: 100%; height: 400px">
                    <div class="carousel-caption">
                      <h3>{{slide.text}}</h3>
                    </div>
                  </slide>
                </carousel>
              </div>
            </div>
            <div class="col-md-3">
              <img src="images/LK Logo.png" height="100%" width="100%">
              <img src="images/LK_Gen Tso Chicken.jpg" height="100%" width="100%">
            </div>
            <div class="col-md-9">
              <br>
              <h1>Lucky Kitchen</h1>
              <h4><a href="https://www.michigandaily.com/arts/4best-chinese-food-lucky-kitchen16" target="_blank">Voted Best Chinese Food of Ann Arbor 2015</a></h4>
              <a href="http://maps.google.com/?q=lucky kitchen north campus umich" target="_blank"><button class="btn btn-themed">Lucky Kitchen North Campus</button></a>
              <a href="http://maps.google.com/?q=Lucky Kitchen, 611 E University Ave, Ann Arbor, MI" target="_blank"><button class="btn btn-themed">Lucky Kitchen Central Campus</button></a>
            </div>
          </div>
          <br>

          <div class="col-md-12">
            <p>
              <i>
                At Lucky Kitchen, we are dedicated to great service and quality products.  Here are only some of the reasons why you should choose LK.
                We Use:
              </i>
            </p>

            <p>
              <i>
                Lean Quality Meats or Tofu
                Benefits:  Meets your daily protein requirements, and helps reduce your intake of cholesterol, saturated fat and calories.
              </i>
            </p>

            <p>
              <i>
                Wide assortment of Fresh Vegetables
                Benefits:  Provides a good source of fiber, minerals and vitamins.
              </i>
            </p>

            <p>
              <i>
                Quality Jasmine or Brown Rice
                Benefits:  Provides a good source of complex carbohydrates, low in fat and contains no cholesterol.
              </i>
            </p>

            <p>
              <i>
                Water instead of Oil
                Benefits:  While most Asian restaurants use oil to cook.  At LK, we run our vegetables in a water bath before stir-frying.
                This method not only cuts down on the calorie and fat content of the dishes, it also preserves the nutrients in them.
              </i>
            </p>

            <p>
              <i>
                Fast and Efficient
                Benefits:  All dishes are prepared within ten minutes.  It is quick and energy efficient.
              </i>
            </p>

            <p>
              <i>
                Gluten Free and Vegan Options are available upon request
                Benefits:  We use gluten free soy sauce upon request.  We do not use dairy products in our cooking.
              </i>
            </p>

            <p>
              <i>
                Lucky Kitchen welcomes you to try our menu.  Like us on <a href="https://www.facebook.com/pages/Lucky-Kitchen/297918229264">Facebook</a> and Instagram a pic of our food and hash tag (#Lucky Kitchen A2).
                Enjoy a FREE Appetizer by writing a review.
              </i>
            </p>

            <p>
              <i>
                Thank you for your business!
              </i>
            </p>

            <p>
              <i>
                - Lucky Kitchen Staff and Family
              </i>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
