<div class="row app-landing">
  <div class="col-md-5 form-column">
    <div class="panel panel-theamed">
      <div class="panel-body">
        <form>
          <input type="email" class="form-control" placeholder="Email">
          <input type="password" class="form-control" placeholder="Password">
          <button type="submit" class="btn btn-theamed">Sign In</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
    <div class="panel panel-theamed">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="prompt">Don't have an account?</span> <span class="action">Register</span></h3>
        </div>
        <div class="panel-body">
        <form>
          <input type="email" class="form-control" placeholder="Email">
          <input type="password" class="form-control" placeholder="Password">
          <input type="password" class="form-control" placeholder="Confirm password">
          <input type="text" class="form-control" placeholder="School name">
          <button type="submit" class="btn btn-theamed">Register</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-7 marketing">
    <h1>Welcome to Malaysia Midwest Games site.</h1>
    <p>Get involved in Midwest Games 2015.</p>
    <p>
    Login or register to manage your Midwest Games registrations, create teams, and get the latest update.</p>
  </div>
</div>