<div class="container post">
  <div class="panel panel-themed">
    <div class="panel-heading">
      <h3 class="panel-title">Message Board</h3>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Please write your message here" ng-model="message">
          <button class="btn btn-md btn-themed" ng-click="postMsg(message)">Post</button>
        </div>
      </form>
      <ul ng-repeat="post in posts" class="posts">
        <li>
          <span class="post">{{post.message}}</span>
          <span class="author">Posted by {{post.user.first_name}}</span>
          <span>{{post.comments.length}} </span>
          <span class="glyphicon glyphicon-comment cmt" aria-hidden="true"></span>
          <span>{{post.likes.length}} </span>
          <span class="glyphicon glyphicon-thumbs-up like" ng-show="likes[{{post.id}}-1]"></span>
          <span class="glyphicon glyphicon-thumbs-up unlike" ng-hide="likes[{{post.id}}-1]" ng-click="postLike({{post.id}})"></span>
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Please write your comment here" ng-model="comment">
              <button class="btn btn-md btn-themed" ng-click="postComment(comment, {{post.id}})">Post</button>
            </div>
          </form>
          <div class="container comment">
            <ul ng-repeat="comment in post.comments" class="comments">
              <li>
                <span class="comment">{{comment.message}}</span>
                <span class="author">Posted by {{comment.user.first_name}}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>