<nav class="navbar navbar-themed navbar-fixed-top" ng-controller="NavigationCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/app">
				<img src="images/logo.svg" tooltip-placement="bottom" tooltip="Home">
			</a>
			<a class="navbar-brand" href="/app">
				Midwest Games
			</a>
			<button type="button" class="navbar-toggle collapsed btn-themed-nav" data-toggle="collapse" data-target="#midwest-menu-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="midwest-menu-collapse">
			<ul class="nav navbar-nav">
				<li><a href="rules" class="nav-item">Schedule & Rules</a></li>
        <li>
          <div class="dropdown nav-item" style="cursor:pointer">
            <div class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
              Travelling Info
              <span class="caret"></span>
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="accommodation">Accommodation</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="transportation">Transportation</a></li>
            </ul>
          </div>
        </li>
				<li><a href="eventmaps" class="nav-item">Maps & Directions</a> </li>
				<li><a href="contact-us" class="nav-item">Contact us</a></li>
				<li>
					<div ng-show="currentUser.authorization_level == 'admin'" class="dropdown nav-item" style="cursor:pointer">
						<div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
							Admin
							<span class="caret"></span>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/app/userlist">Users</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Volunteers</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/app/sportslist">Sports</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Teams</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="currentUser">
				<li ng-show="currentUser">
					<a href="/app/user-settings" tooltip-placement="bottom" tooltip="User settings"class="nav-item">
						{{currentUser.email}}
					</a>
				</li>
				<li>
					<a href="" ng-click="logout()" tooltip-placement="bottom" tooltip="Logout" class="nav-item">
						<span class="glyphicon glyphicon-log-out"></span>
					</a>
					<div class="overlay" ng-show="waiting.logoutResponse">
						<span class="loader-gif"></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
