<nav class="navbar navbar-themed navbar-fixed-top" ng-controller="NavigationCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/app">
				<img src="images/logo.svg"
			   		 tooltip-placement="bottom"
			   		 tooltip="Home">
			</a>
			<a class="navbar-brand"
			   href="/app">
				Midwest Games
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="rules">Rules</a></li>
				<li><a href="accommodation">Accommodation</a></li>
				<li><a href="contact-us">Contact us</a></li>
				<li><a href="userlist" ng-show="currentUser.authorization_level == 'admin'">Admin</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="currentUser">
				<li ng-show="currentUser">
					<a href="/app/user-settings"
					   tooltip-placement="bottom"
					   tooltip="User settings">{{currentUser.email}}</a>
				</li>
				<li>
					<a href=""
					   ng-click="logout()"
					   tooltip-placement="bottom"
					   tooltip="Logout">
						<span class="glyphicon glyphicon-log-out"></span>
					</a>
					<div class="overlay" ng-show="waiting.logoutResponse">
          				<span class="loader-gif"></span>
        			</div>
				</li>
			</ul>
		</div>
	</div>
</nav>