<nav class="navbar navbar-themed navbar-fixed-top" ng-controller="NavigationCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<img src="images/logo.svg">
			<a class="navbar-brand" href="/app">
				Midwest Games
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Feeds</a></li>
				<li><a href="">Info</a></li>
				<li><a href="/app/userlist" ng-show="currentUser.user.admin">Admin</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="currentUser">
				<li ng-show="currentUser">
					<a href="/app/user-settings">{{currentUser.user.email}}</a>
				</li>
				<li>
					<a href="" 
					   ng-click="logout()" 
					   tooltip-placement="bottom" 
					   tooltip="Logout">
						<span class="glyphicon glyphicon-log-out"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>