
<div class="col-md-5 form-column col-md-offset-3">
<div class="panel panel-themed" ng-hide="hidepanel">
  <div class="panel-body">
    <div ng-hide= "passResetform">
      <form name="form">
        <div class="form-group">
          <input name="pass1" type="password" class="form-control" placeholder="Password" ng-model="pass1" ui-validate="'$value.length>=6'" required>
          <div class="error" ng-show="form.pass1.$invalid && form.pass1.$dirty">Password length must be at least 6 characters</div>
        </div>

        <div class="form-group">
          <input name="pass2" type="password" class="form-control" placeholder="Confirm password" ng-model="pass2"  ui-validate="'$value==pass1'" ui-validate-watch="'pass1'" required>
          <div ng-show="form.pass2.$invalid && form.pass2.$dirty" class="error">Passwords do not match</div>
        </div>

        <button type="submit" class="btn btn-default" ng-click="changepass()" ng-disabled="form.$invalid">Reset password</button>
      </form>
    </div>
  </div>
</div>


<div >
  <div class="alert" ng-class="{'alert-success': success, 'alert-danger': failure}" role="alert">
    {{ message }}
  </div>
</div>

</div>


