<div class="container payment">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-themed promotion">
        <div class="panel-body">
          <h1 class="title">Registration Payment <small>$20</small> <button class="btn btn-themed pull-right btn-lg" ng-show="payId == 0" class="ng-hide" ng-click="paymentInit()">Pay now</button></h1>
          <div class="clearfix"></div>
          <div>Includes unlimited access to all events! Sports, Midwest Night, Midwest Dinner, and more!</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-offset-2">
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" ng-show="payId != 0" class="ng-hide">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="chriseveraldo@yahoo.com">
      <input type="hidden" name="invoice" value="{{payId}}">
      <input type="hidden" name="notify_url" value="https://54f2bc49.ngrok.com/api/hook">
      <input type="hidden" name="item_name" value="{{regType}}" ng-model="regType">
      <input type="hidden" name="return" value="http://localhost:9000/app/payment">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="amount" value="{{amount}}">
      <button ng-click="setAmount(20, 'General registration')" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">General registration</button>
      <button ng-click="setAmount(5, 'Sports registration')" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">Sports registration</button>
    </form>
    </div>
  </div>
</div>

{{amount}}
{{regType}}
{{payId}}
{{general}}
{{sports}}



