<div class="points">
	<div class="panel panel-themed">
		<div class="panel-heading">
			<h3 class="panel-title">Points System</h3>
		</div>
		
		<div class="panel-body">
			<div class="details">
				<p>
					Overall champion of the Malaysia Midwest Games 2015 will be the contingent with the highest total points accumulated from all events. The breakdown of points awarded for each event is as follows:-
				</p>
				<br/>
			</div>

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th class = "col-xs-2">Event</th>
						<th class = "col-xs-6">Points Award</th>
						<th class = "col-xs-4">Notes</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Sports</td>
						<td>
							<table class="table table-hover">
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-king"></span>
										Champion
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										50 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-queen"></span>
										First Runner-up
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										35 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-tower"></span>
										Second Runner-up
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										25 points
									</td>
								</tr>
							</table>
						</td>
						<td></td>
					</tr>

					<tr>
						<td>Performance</td>
						<td>
							<table class="table table-hover">
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-king"></span>
										Champion
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										30 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-queen"></span>
										First Runner-up
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										21 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-tower"></span>
										Second Runner-up
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										15 points
									</td>
								</tr>
							</table>
						</td>
						<td></td>
					</tr>

					<tr>
						<td>March Pass</td>
						<td>
							<table class="table table-hover">
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-king"></span>
										Champion
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										30 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-queen"></span>
										First Runner-up
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										21 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-7">
										<span class="glyphicon glyphicon-tower"></span>
										Second Runner-up
									</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										15 points
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table class="table">
								<tr>
									<td class="col-xs-8">No representative</td>
									<td class="col-xs-4">
										<span class="glyphicon glyphicon-minus"></span>
										30 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-8">Trash left behind</td>
									<td class="col-xs-4">
										<span class="glyphicon glyphicon-minus"></span>
										5 points per item
									</td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td>Volunteer</td>
						<td>
							<table class="table table-hover">
								<tr>
									<td class="col-xs-7">Each shift</td>
									<td class="col-xs-5">
										<span class="glyphicon glyphicon-plus"></span>
										1 points
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table class="table">
								<tr>
									<td class="col-xs-8">Max points per volunteer</td>
									<td class="col-xs-4">
										<span class="glyphicon glyphicon-plus"></span>
										4 points
									</td>
								</tr>
								<tr>
									<td class="col-xs-8">Max points per contingent</td>
									<td class="col-xs-4">
										<span class="glyphicon glyphicon-plus"></span>
										50 points
									</td>
								</tr>
							</table>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>