<form>
  <div class="form-group">
    <label for="email">Enter e-mail address</label>
    <input type="email" class="form-control"  placeholder="E-mail address">
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password2">Re-enter Password</label>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="school"> Enter school name</label>
    <input type="text" class="form-control" placeholder="School name">
  </div>
  <button type="submit" class="btn btn-default">Register</button>
</form>