	<div class="row">
		<div class="panel panel-themed">
			<div class="panel-heading">
			<h3 class="panel-title">Resume Collection</h3>
			</div>
		  	<div class="panel-body">
		  	<!-- 	<pre>form = {{res | json}}</pre> -->
				<form name="myForm" ng-submit="upload(files)">
				  <div class="form-group">
				    <label for="Inputftintern">What type of opportunity are you looking for? </label>
				    <!-- <p class="help-block">{{res.opportunity}}</p> -->
				    <!-- <p class="help-block">validationnnnnn!!!!!{{myForm}}</p> -->
      <select ng-options="opportunity.code as opportunity.text for opportunity in opportunitys" ng-model="res.opportunity" required="" class="form-control">
        <option style="display:none" value="">Select an option</option>
      </select>
				  </div>
					<div class="form-group">
				    <label for="Inputgradyear">When will you graduate? </label>
				    <p class="help-block">Please select month and year</p>
				    <!-- <p class="help-block">{{res.month}} {{res.year}}</p> -->
					    <div class="row">
	      					<div class="col-sm-6">
	      				<select ng-model="res.month"class="form-control" required="">
	        			<option ng-repeat="month in months">{{month}}</option>
	      				</select>
	      					</div>
	      					<br class="rwd-break">
	      					<div class="col-sm-6">
	      				<select ng-model="res.year"class="form-control" required="">
	        			<option ng-repeat="year in years">{{year}}</option>
	      				</select>
	      					</div>
	      				</div>
				  </div>
				  <div class="form-group">
				    <label for="Inputmajor">What is your major?</label>
				    <p class="help-block">If you have more than one major, please state your primary concentration</p>
				    <input type="text" ng-model="res.major" typeahead="major for major in majors | filter:$viewValue | limitTo:8" class="form-control" required="">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputFile">File input</label>
				    <input type="file" ng-file-select="" ng-model="files" accept="application/pdf" required="">
				    <p class="help-block">This form only accepts PDF</p>
				  </div>
				  <button ng-disabled="myForm.$invalid" ng-hide="val" type="submit" class="btn btn-default" ng-model="val" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Submit</button>
				  <label for="thankyou" ng-hide="!val"> Thank you for uploading your resume!</label>
				</form>
			</div>
		</div>
	</div>