
<div class="row sportsreg">
  <div class="col-md-12">
    <div class="panel panel-themed promotion">
      <div class="panel-body">
        <h1 class="title">Sports Registration and Payment <small>$5</small>
          <button class="btn btn-themed pull-right btn-lg" ng-show="payId == 0" class="ng-hide" ng-click="paymentInit('General registration')">Pay now</button>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-show="payId != 0" class="ng-hide pull-right">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="midwestmalaysia@gmail.com">
            <input type="hidden" name="invoice" value="{{payId}}">
            <input type="hidden" name="notify_url" value="http://malaysiamidwestgames.com/api/hook">
            <input type="hidden" name="item_name" value="{{regType}}" ng-model="regType">
            <input type="hidden" name="return" value="http://malaysiamidwestgames.com/app/payment/done">
            <input type="hidden" name="rm" value="1">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="amount" value="{{amount}}">
            <button class="btn btn-success pull-right btn-lg" ng-click="setAmount(5, 'Sports registration')" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">Pay $5?</button>
          </form>
        </h1>
        <div class="clearfix"></div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            {{ selectedAction.name }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation menuitem" ng-repeat="sport in sports">
              <a ng-click="setAction(sport)">{{ sport.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">General information</h3>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Team listings/create a team</h3>
      </div>
    </div>
  </div>
</div>


