
<div class="row sportsreg">
  <div class="col-md-12">
    <div class="panel panel-themed promotion">
      <div class="panel-body">
        <h1 class="title">
          <button class="btn btn-themed pull-right btn-lg" ng-show="payId == 0" ng-disabled="amount == 0" class="contact-us" ng-click="paymentInit('Sports registration')">Pay ${{amount}}</button>

          Sports Registration and Payment
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-show="payId != 0" class="ng-hide pull-right">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="midwestmalaysia@gmail.com">
            <input type="hidden" name="invoice" value="{{payId}}">
            <input type="hidden" name="notify_url" value="http://{{ host }}/api/hook">
            <input type="hidden" name="item_name" value="{{regType}}" ng-model="regType">
            <input type="hidden" name="return" value="http://{{ host }}/app/payment/done">
            <input type="hidden" name="rm" value="1">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="amount" value="{{amount}}">
            <button class="btn btn-success pull-right btn-lg" ng-click="setAmount(amount, 'Sports registration')" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">Pay ${{amount}}?</button>
          </form>
          <a class="btn btn-themed pull-right btn-lg contact-us" ng-show="currentUser.sports_payment_unpaid" ng-href="contact-us" role="button">Contact us</a>
        </h1>
        <div class="clearfix" ng-hide="currentUser.sports_payment_unpaid">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              {{ selectedAction.name }} {{ selectedAction.category }}
              <span class="caret"></span>
              <button class="btn btn-danger btn-md" ng-show="amount > 0" class="contact-us" ng-click="destroyTeams()">Clear registrations</button>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation menuitem" ng-repeat="game in games">
                <a ng-click="setAction(game)">{{ game.name }} {{ game.category }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div ng-show="currentUser.sports_payment_unpaid" class="paystatus">
          There are outstanding payments from previous registrations. Please complete the payment first if you want to register for other sports. Payment is still pending for the following sports:<br><br>
          <table class="table table-bordered">
            <tr>
              <th>Sports</th>
              <th>Amount</th>
            </tr>
            <tr ng-repeat="team in teams">
              <td>{{ team.game.name }}</td>
              <td>${{ team.game.price_per_team }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row sportsreg" ng-hide="currentUser.sports_payment_unpaid">
  <div class="col-md-4">
    <div class="panel panel-themed user-info-panel">
      <div class="panel-body" >
        <div class="first-name">Quick facts</div>
        <div ng-hide="selectedAction.name != 'Choose a sport to register for'">Choose a sport from the list above to find out more about it</div>
        <div ng-show="selectedAction.name != 'Choose a sport to register for'" class="infostat">{{(individual && selectedAction.max_players_per_team) || (doubles && selectedAction.max_players_per_team) || selectedAction.min_players_per_team + " - " + selectedAction.max_players_per_team}}<br><div class="stat">player/s per team</div></div>
        <div ng-show="selectedAction.name != 'Choose a sport to register for'" class="infostat">${{selectedAction.price_per_team}}<div class="stat">{{ individual && "Fee per participant" || "Flat fee per team" }}</div></div>
        <div ng-show="selectedAction.name != 'Choose a sport to register for'" class="infostat">{{selectedAction.spots_left}}<div class="stat">spots left</div></div>
        <div ng-show="selectedAction.name != 'Choose a sport to register for'" class="infostat">{{selectedAction.tournament_type}}<div class="stat">format</div></div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div class="panel panel-themed">
        <div class="panel-heading">
          <h3 class="panel-title" ng-hide="selectedAction.name != 'Choose a sport to register for'">Instructions</h3>
          <h3 class="panel-title" ng-show="selectedAction.name != 'Choose a sport to register for'">{{individual && "Individual events" || "Team events"}}</h3>
        </div>
        <div class="panel-body first">
           <b class="instructions" ng-show="selectedAction.name != 'Choose a sport to register for'">{{full && "There are no spots left to register for this event" || paid && "Your payment has been received and you are registered for this event" || registered && "Your spot for this event has already been reserved. Please proceed with payment to confirm it" || individual && selectedAction.name + " is an individual event. You can go ahead and register for this event by clicking the button and pay the fee. The fee is non-refundable" || selectedAction.name + " is a team based event. You can either request to join a team in the list below or start your own team as a captain. If you do start your own team, you will be solely responsible for paying the team fee. The fee is non-refundable"}}</b>
           <b class="instructions" ng-hide="selectedAction.name != 'Choose a sport to register for'"> Select a sport to find out how to register for it</b>
            <div class="row" ng-show="individual != true && registered == false && selectedAction.name != 'Choose a sport to register for'">
              <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only">Team name</label>
                  <input type="text" class="form-control" id="team" placeholder="Enter team name" ng-model="teamName" required>
                  <button type="submit" class="btn btn-themed pull-right btn-md" ng-click="setTeam(teamName,teamUni)">Create team</button>
                  <label class="teamUni"><input type="checkbox" ng-model="noTeamUni">This team is not affiliated with my university</label>
                </div>
              </form>
            </div>
            <div ng-show="individual && registered == false"><button class="btn btn-themed pull-right btn-lg" ng-click="setTeam(currentUser.first_name + ' ' + currentUser.last_name)">Register</button></div>
        </div>
      </div>
      <div class="panel panel-themed" ng-hide="!!!teams.length">
        <div class="panel-heading">
          <h3 class="panel-title">{{individual && "Participants" || joinReqAcc && "Join request to team accepted" || joinReqSent && "Join request to team sent" || registered && "List of teams" || "Ask to join a team"}}</h3>
        </div>
        <table class="table table-bordered participants" ng-hide="joinReqSent">
          <tr ng-repeat="team in teams" class="teamrow">
            <td>
              <div class="teamname">
                <a href="https://en.gravatar.com/site/login" target="_blank"><img class="pull-right gravatar" gravatar-src="team.captain.email" gravatar-size="100"></a>
                {{team.name}}<br>
                <div class="captainname" ng-hide="individual">
                  Captain: {{team.captain.first_name + " " + team.captain.last_name}}<br>
                </div>
                <div class="captainname">
                  Contingent: {{team.university.name}}<br>
                </div>
                <div class="gravatar-container">
                  <button type="submit" class="btn btn-themed pull-left btn-md" ng-hide=" individual || registered || joinReqSent || joinReqAcc" ng-click="joinReq(team.id)">Ask to join</button>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div class="panel-body second" ng-show="joinReqSent">
          <b ng-show="joinReqSent" ng-hide="joinReqAcc" class="instructions"> You have requested to join a team in this event. Please check the request status on your team management page.</b>
          <b ng-show="joinReqAcc" class="instructions"> You have been accepted into a team in this event.</b>
        </div>
      </div>
  </div>
</div>


