<div class="foodinfo">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-themed">
        <div class="panel-body">
          <div class="col-md-12">
	          <img src="images/Taste of India logo.png" class="img-responsive center-block">
          </div>

          <div class="col-md-12">
          	  <h1 class="text-center">Taste of India</h1>
          	  <div class="">
          	  	<a href="http://maps.google.com/?q=Taste of India, 217 S State St, Ann Arbor, MI" target="_blank"><button class="btn btn-themed center-block">Taste of India Suvai</button></a>
              	<a href="http://maps.google.com/?q=Suvai Palace, 400 S Division St, Ann Arbor, MI" target="_blank"><button class="btn btn-themed center-block">Suvai Palace</button></a>
          	  </div>
          </div>
          <br/>
          

          <div class="col-md-12" style="border: solid 1px lightgoldenrodyellow; background-color: lightgoldenrodyellow">
	          <p>
	          	<i>
	          		We offer delicious range in Vegetarian, Non Vegetarian and Vegan food. We promise to serve you taste that you never forget. In the ancient and bustling cities of India, some of the best food is made on the streets. Roadside tandoors, or clay ovens, turn out fresh, traditional meals and provide a common meeting place for neighborhood families to gather, socialize and eat. 
	          	</i>
	          </p>

	          <p>
	          	<i>
	          		Following that tradition, Taste Of India restaurant also offers flavorful, authentic East Indian cooking in a casual, family-friendly environment. Dedicated to serving the freshest food, the Taste Of India chefs make many of their ingredients—from yogurt to fresh paneer—in house, and cook every meal to order: mild, medium or hot. Since taken over in 2011, Taste Of India has offers a vast menu of chicken, lamb, goat, seafood, vegetarian and vegan dishes, as well as a selection of sweets and desserts all prepared from authentic Indian recipes. 
	          	</i>
	          </p>
	             
	          <p>
	          	<i>
	          		So whether you have a taste for a flavorful curry or something more exotic, you’ll see why our customers drive far beyond their own neighborhood to taste food the way it’s served in India. Come to Taste Of India today and experience the real thing: memorable food and exceptional value. We also offer delivery service with mrdelivery.com and and our online menu is designed to place your order efficiently.
	          	</i>
	          </p>

	          <p>
	          	<i>
	          		Visit our website at <a href="http://www.a2tasteofindia.com/">Taste of India</a> and <a href="http://www.suvaipalace.com/">Suvai Palace</a>.
	          	</i>
	          </p>

	          <p>
	          	<i>
	          		- Taste of India Staff and Family
	          	</i>
	          </p>
	      </div>

        </div>
      </div>
    </div>
  </div>
</div>
