<div class="panel panel-themed">
  <div class="panel-heading">
    <h3 class="panel-title">Team management</h3>
  </div>
  <div class="panel-body">
    <p>
    Use this page to send invite request, chat with team members, and more.
    </p>
    <div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          {{ team.name || 'Choose a team'}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation menuitem" ng-repeat="team in teams">
            <a ng-click="setTeam(team)">{{ team.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row teams" ng-show="team">
  <div class="col-md-5">
    <div class="panel panel-themed user-info-panel">
      <div class="panel-body" ng-hide="team.name == 'Choose a team'">
        <div class="first-name">{{team.name}}</div>
        <img gravatar-src-once="team.team_captain_name[0].email" class="gravatar pull-left">
        <div class="team-details">
          <div><span class="glyphicon glyphicon-flag"></span> {{team.game.name}} {{team.game.category}}</div>
          <div><span class="glyphicon glyphicon-education"></span> {{team.university.name}}</div>
          <div><span class="glyphicon glyphicon-user"></span> {{team.team_captain_name[0].first_name}} {{team.team_captain_name[0].last_name}}</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Team members</h3>
      </div>
      <div class="panel-body">
        <div class="input-group" ng-show="captain">
          <input type="text" class="form-control" placeholder="Enter invitee email" ng-model="inviteEmail">
          <span class="input-group-btn">
            <button class="btn btn-themed" type="button" ng-click="inviteReq()">Invite</button>
          </span>
        </div>
      </div>
      <ul class="list-group team-members-list">
        <li class="list-group-item" ng-repeat="participant in team.participants">
          {{participant.user.first_name}} {{participant.user.last_name}}
          <span ng-show="participant.status == 'team_captain'">Captain</span>
          <span ng-show="participant.status == 'join_request'">
            Requested <a ng-show="captain" href="" ng-click="acceptReq(participant)">Accept</a>/
            <a href="" ng-show="captain" ng-click="declineReq(participant)">Reject</a></span>
          <span ng-show="participant.status == 'invite_request'">Invited</span>
          <span ng-show="participant.status == 'accepted'">Member</span>
          <span ng-show="participant.status == 'declined'">Declined</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-themed message-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Message Board</h3>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter your message" ng-model="message">
          <span class="input-group-btn">
            <button class="btn btn-themed" type="button" ng-click="postMsg(message)">Post</button>
          </span>
        </div>
      </div>
      <div class="list-group">
        <div ng-repeat="message in messages" class="list-group-item">
          <h5>{{message.user.first_name}} {{message.user.last_name}}</h5>
          <div>{{message.message}}</div>
        </div>
      </div>
    </div>
  </div>
</div>