<div class="row sportsreg">
  <div class="col-md-12">
    <div class="panel panel-themed promotion">
      <div class="panel-body">
        <h1 class="title"> Team management<br></h1>
        <b>Check your join/invite requests, chat with team members and more</b>
        <div class="clearfix" ng-hide="currentUser.sports_payment_unpaid">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              {{ team.name }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation menuitem" ng-repeat="team in teams">
                <a ng-click="setTeam(team)">{{ team.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row teams">
  <div class="col-md-6">
    <div class="panel panel-themed user-info-panel">
      <div class="panel-body" ng-hide="team.name == 'Choose a team'">
        <div class="first-name">{{team.name}}</div>
        <a href="https://en.gravatar.com/site/login" target="_blank"><img class="pull-left gravatar" gravatar-src="team.team_captain_name[0].email" gravatar-size="200"></a>
        <div class="pull-left grvtinstruc">Set your avatar using the captain's email by clicking on it! It's easy to create one.</div>
        <div class="infostat">{{team.team_captain_name[0].first_name}} {{team.team_captain_name[0].last_name}}<div class="stat">Team captain</div></div>
        <div class="infostat">{{team.university.name}}<div class="stat">Contingent</div></div>
        <div class="infostat">{{team.game.name}} {{team.game.category}}<div class="stat">Event</div></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Message Board</h3>
      </div>
      <div class="panel-body">
          <form ng-show="captain" class="form-inline">
            <div alert-warning>This function is still experimental. We will get this into a working state as soon as possible! </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Please write your message here" ng-model="message">
              <button class="btn btn-md btn-themed" ng-click="postMessage(message)">Post</button>
            </div>
          </form>
        <ol ng-repeat="message in messages" class="messages">
          <li>
            <span class="message">{{message.message}}</span>
            <span class="poster"> Posted by {{message.user.first_name}}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row teams">
  <div class="col-md-6">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Team members</h3>
      </div>
      <div class="panel-body">
        <form ng-show="captain" class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search and invite a participant to join your team" ng-model="user" typeahead="user.id as user.first_name + ' ' + user.last_name for user in users | filter:$viewValue | limitTo:8" typeahead-min-length="2" typeahead-editable="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-input-formatter="label" required>
            <button class="btn btn-md btn-themed" ng-click="inviteReq(user)">Invite</button>
          </div>
        </form>
        <table class="table table-bordered" ng-hide="team.name == 'Choose a team'">
          <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="participant in team.participants">
            <td>{{participant.user.first_name}} {{participant.user.last_name}}</td>
            <td>{{participant.status == 'team_captain' && "Team Captain" || participant.status == 'join_request' && "Requested to join" || participant.status == 'invite_request' && "Invited to join" || participant.status == 'accepted' && "Join request accepted" || participant.status == 'declined' && "Join request declined"}}<br>
              <button ng-show="captain && participant.status == 'join_request'" class="btn btn-md btn-themed" ng-click="acceptReq(participant.id, participant.user.first_name); button=true" ng-disabled="button">Accept</button>
              <button ng-show="captain && participant.status == 'join_request'" class="btn btn-md btn-danger" ng-click="declineReq(participant.id, participant.user.first_name); button=true" ng-disabled="button">Decline</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-themed">
      <div class="panel-heading">
        <h3 class="panel-title">Matches, standings and venue</h3>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>
