<div class="transportation" name="transportTop">

  <div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    </span>
  </div>


  <div class="col-md-9">
    <div class="panel panel-themed" id="byAir" scroll-spy="" data-target="#bs-docs-sidenav" data-scroll-offset="80">
      <div class="panel-heading">
        <h3 class="panel-title">By Air</h3>
      </div>
      <div class="panel-body">
        <p>
          <a href="http://www.metroairport.com/" target="_blank">Detroit Metropolitan International Airport</a> (DTW) is the airport nearest to Ann Arbor (about 25 miles East of Ann Arbor). It serves as the major hub for airlines such as Delta, Spirit, U.S. Airways, etc.
        </p>
        <p>
          From the airport, there are several options available to travel to University of Michigan, Ann Arbor.
        </p>

        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-2" id="byAir-bus">By bus</td>
              <td class="col-xs-8">
                To get to University of Michigan from the airport, you can use AirRide (also called Michigan Flyer). The closest stop to UofM is <strong>Blake Transit Center</strong> (<a href="https://www.google.com/maps/d/viewer?mid=zG6s-Gj1oAvE.ku_PdMsASH2Y" target="_blank">map</a>).
                <ul>
                  <li>
                    <a href="http://michiganflyer.com/" target="_blank">Michigan Flyer</a> &#58; A one way ticket on Michigan Flyer can be purchased online at discounted rate of $12 and it is refundable until 48 hours prior to outbound departure. For unrestricted advanced reservation (fully refundable up to time of departure), phone reservation or cash walk-on fares, the rate of a one way ticket is $15. <a class="btn btn-default btn-primary btn-sm" href="http://michiganflyer.com/Home.aspx#BookATrip" role="button" target="_blank">Book Here</a>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td id="byAir-taxi">By taxi &#47; shuttle</td>
              <td>
                <ul>
                  <li><em>Across Town Cab</em>: 734.216.5932 – this is a van. Good for multiple passengers. Approximately $55-$65 one-way. Can be split among several passengers.</li>
                  <li><em>Metro Car</em>: 800.456.1701 – Approximately $55-$65 one-way, non-inclusive of gratuity</li>
                  <li><em>Royal Limousine</em>: 1.866.697.6925 – Approximately $55-$65 one-way, non-inclusive of gratuity.</li>
                  <li><em>Yellow Cab/Select Ride</em>: 734.663.3355 – Yellow Cab also offers a shared shuttle for half the price. Please allow a half-hour window of when it will arrive for pick up.</li>
                  <li><em>Michigan Green Cab</em>: 1.877.476.8294</li>
                  <li><em>Golden Limo</em>: 1.800.300.5151 ext.1</li>
                </ul>
                <p>
                  <small>* Prices may vary</small>
                </p>
              </td>
            </tr>
            <tr>
              <td id="byAir-car">By car (from DTW)</td>
              <td>
                <ol>
                  <li>Take I-94 West to the State Street exit (Exit 177).</li>
                  <li>Turn right (north) and continue on State Street approximately 2 miles to the main campus area.</li>
                </ol>
              </td>
            </tr>

          </tbody>
        </table>


      </div>
    </div>

    <div class="panel panel-themed" id="byCar">
      <div class="panel-heading">
        <h3 class="panel-title">By Car</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th class="col-xs-2">Origin</th>
              <th class="col-xs-8">Directions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="byCar-west">From DTW (heading West)</td>
              <td>
                <ol>
                  <li>Take I-94 West to the State Street exit (Exit 177).</li>
                  <li>Turn right (north) and continue on State Street approximately 2 miles to the main campus area.</li>
                </ol>
              </td>
            </tr>

            <tr>
              <td id="byCar-east">From Chicago (heading East)</td>
              <td>
                <ol>
                  <li>Take I-94 East to the State Street exit (Exit 177).</li>
                  <li>Turn left (north) and continue on State Street approximately 2 miles to the main campus area.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <td id="byCar-north">From Ohio (heading North)</td>
              <td>
                <ol>
                  <li>Take US-23 North to the Washtenaw-"Ann Arbor" exit (Exit 37B) and merge onto Washtenaw. </li>
                  <li>At the fork in the road where Stadium Blvd and Washtenaw split (approximately 2-3 miles), stay to the right on Washtenaw following the Hospital signs.</li>
                  <li>Take a left at Hill Street (you'll see "The Rock"). Continue down Hill Street (campus buildings will be on your right).</li>
                  <li>Take a right on State St. and continue two blocks to the central campus area.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <td id="byCar-south">From Northern MI (heading South)</td>
              <td>
                <ol>
                  <li>Take I-75 South to US-23 South to M-14 WEST.</li>
                  <li>Take Exit #3, called Downtown Ann Arbor; this will become Main Street.</li>
                  <li>Follow Main Street to William Street.</li>
                  <li>Take a left at William Street and continue down William Street until it ends at State St. and the central campus area.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <td id="byCar-lansing">From Lansing</td>
              <td>
                <ol>
                  <li>Take I-96 East to US-23 South to M-14 WEST.</li>
                  <li>Take Exit #3, called Downtown Ann Arbor; this will become Main Street.</li>
                  <li>Follow Main Street to William Street.</li>
                  <li>Take a left at William Street and continue down William Street until it ends at State St. and the central campus area.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <td id="byCar-nwDetroit">From Northwest Suburbs of the Metro Detroit Area</td>
              <td>
                <ol>
                  <li>Take I-696 to I-275 South to M-14 West.</li>
                  <li>Follow the M-14 West signs closely.</li>
                  <li>Take Exit #3, called Downtown Ann Arbor; this will become Main Street.</li>
                  <li>Follow Main Street to William Street.</li>
                  <li>Take a left at William Street and continue down William Street until it ends at State St. and the central campus area.</li>
                </ol>
              </td>
            </tr>
            <tr>
              <td id="byCar-canton">Parts of Detroit, Redford, M-14, Plymouth and Canton</td>
              <td>
                <ol>
                  <li>Take I-96 to M-14 West.</li>
                  <li>Follow the M-14 West signs closely.</li>
                  <li>Take Exit #3, called Downtown Ann Arbor; this will become Main Street.</li>
                  <li>Follow Main Street to William Street.</li>
                  <li>Take a left at William Street and continue down William Street until it ends at State St. and the central campus area.</li>
                </ol>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          For more accurate driving directions, search for <strong>"University of Michigan, South State Street, Ann Arbor"</strong> or with coordinates <a href="https://www.google.com/maps/place/42%C2%B016'41.0%22N+83%C2%B044'17.6%22W/@42.278044,-83.738224,17z/data=!4m2!3m1!1s0x0:0x0" target="_blank"><strong>(42.278044, -83.738224)</strong></a> in the navigator.
        </p>
      </div>
    </div>

    <div class="panel panel-themed" id="byOther">
      <div class="panel-heading">
        <h3 class="panel-title">Other Transportation Options</h3>
      </div>
      <div class="panel-body">
        <p>
          There are many other ways to get to Ann Arbor, such as
        </p>
        <ul>
          <li><a href="http://www.amtrak.com/" target="_blank">Amtrak</a> : 325 Depot St., Ann Arbor, MI 48104 (<a href="hhttps://www.google.com/maps/place/Amtrak-ARB/@42.287789,-83.743196,15z/data=!4m2!3m1!1s0x0:0x8a17f297ff07ef3f" target="_blank">map</a>)</li>
          <li><a href="http://us.megabus.com/" target="_blank">Megabus</a> : U of M State St. Park and Ride Lots, Ann Arbor, MI 48104 (<a href="https://www.google.com/maps/place/42%C2%B014'56.3%22N+83%C2%B044'23.2%22W/@42.2489787,-83.739767,15z/data=!4m2!3m1!1s0x0:0x0?hl=en" target="_blank">map</a>)</li>
          <li><a href="https://www.greyhound.com/" target="_blank">GreyHound</a> : 115 E. Williams, Ann Arbor, MI 48104 (<a href="https://www.google.com/maps/place/42%C2%B016'41.8%22N+83%C2%B044'51.9%22W/@42.2782731,-83.7477401,19z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0" target="_blank">map</a>)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <nav class="bs-docs-sidebar hidden-xs hidden-sm affix" id="transportNav">
      <ul class="nav bs-docs-sidenav">
        <li>
          <a href="#byAir">By Air</a>
          <ul class="nav">
            <li><a href="#byAir-bus" prevent-default="" scroll-to="byAir-bus">Bus</a></li>
            <li><a href="#byAir-taxi">Taxi/shuttle</a></li>
            <li><a href="#byAir-car">Car</a></li>
          </ul>
        </li>
        <li>
          <a href="#byCar">By Car</a>
          <ul class="nav">
            <li><a href="#byCar-west">From DTW (heading West)</a></li>
            <li><a href="#byCar-east">From Chicago (heading East)</a></li>
            <li><a href="#byCar-north">From Ohio (heading North)</a></li>
            <li><a href="#byCar-south">From Northern MI (heading South)</a></li>
            <li><a href="#byCar-lansing">From Lansing</a></li>
            <li><a href="#byCar-nwDetroit">From Northwest of Metro Detroit</a></li>
            <li><a href="#byCar-canton">Parts of Detroit, Redford, M-14, Plymouth and Canton</a></li>
          </ul>
        </li>
        <li>
          <a href="#byOther">Other Transportation options</a>
        </li>
      </ul>
    </nav>
  </div>


</div>


