<div class="col-md-offset-2 col-md-8 update-user-info">
    <div ng-show="isError" class="alert alert-danger">
        <p>Aw snap! An error occurred.</p>
    </div>
    <div class="panel panel-themed row">
        <div class="panel-heading">
            <h3 class="panel-title">User Info</h3>
        </div>
        <form name="userinfo" ng-submit="update(editedUser, 'userinfo')">
            <table class="table table-hover table-user-settings">
                <tr>
                    <td class="user-attribute">First Name</td>
                    <td class="user-data">
                        <input type="text"
                               name="first_name"
                               ng-model="editedUser.first_name"
                               class="form-control"
                               required>
                        <div class="error"
                             ng-show="userinfo.first_name.$dirty &&
                                      userinfo.first_name.$invalid &&
                                      userinfo.first_name.$touched">
                          <span ng-show="userinfo.first_name.$error.required">First name is required</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="user-attribute">Last Name</td>
                    <td class="user-data">
                        <input type="text"
                               name="last_name"
                               ng-model="editedUser.last_name"
                               class="form-control"
                               required>
                        <div class="error"
                             ng-show="userinfo.last_name.$dirty &&
                                      userinfo.last_name.$invalid &&
                                      userinfo.last_name.$touched">
                            <span ng-show="userinfo.last_name.$error.required">Last name is required</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="user-attribute">University</td>
                    <td class="user-data">
                        <input type="text"
                               name='school_name'
                               ng-model="editedUser.university"
                               typeahead="university.name for university in universities | filter:$viewValue | limitTo:8"
                               typeahead-min-length="2"
                               typeahead-editable="false"
                               class="form-control"
                               required>

                        <div class="error"
                             ng-show="userinfo.school_name.$dirty &&
                                      userinfo.school_name.$invalid &&
                                     userinfo.school_name.$touched">
                            <span ng-show="userinfo.school_name.$error.required">School is required</span>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary pull-right"
                    id="update-info-btn"
                    type="submit">
                Save
            </button>
        </form>

        <div class="overlay" ng-hide="isReady">
            <span class="loader-gif"></span>
        </div>
    </div>

    <div class="panel panel-themed row">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <form name="passwordreset" ng-submit="update(editPassword, 'passwordreset')">
            <table class="table table-hover table-user-settings">
                <tr>
                    <td class="user-attribute">New Password</td>
                    <td class="user-data">
                        <input type="password"
                               name="password"
                               class="form-control"
                               ng-model="editPassword.password"
                               ui-validate="'$value.length>=6'">
                        <div class="error"
                             ng-show="passwordreset.password.$invalid &&
                                      passwordreset.password.$dirty &&
                                      passwordreset.password.$touched">
                            Password length must be at least 6 characters
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="user-attribute">Renter Password</td>
                    <td class="user-data">
                        <input type="password"
                               name="password_confirmation"
                               class="form-control"
                               ng-model="editPassword.password_confirmation"
                               ui-validate="'$value==editPassword.password'"
                               ui-validate-watch="'editPassword.password'">
                        <div ng-show="passwordreset.password_confirmation.$invalid &&
                                      passwordreset.password_confirmation.$dirty &&
                                      passwordreset.password_confirmation.$touched"
                             class="error">
                          Passwords do not match
                        </div>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary pull-right"
                    id="update-info-btn"
                    ng-disabled="passwordreset.$invalid"
                    type="submit">
                Save
            </button>
        </form>

        <div class="overlay" ng-hide="isReady">
            <span class="loader-gif"></span>
        </div>
    </div>

</div>



