<div ng-controller = "UserlistCtrl">
	There are {{users.length}} participants. They are: 
	<input type="search" ng-model="q" placeholder="               filter" />
	<table class="table" style="width:100%">
		<tr>
			<td>No.</td>
			<td>Name</td>
			<td>University</td>
		<tr ng-repeat = "user in users | filter:q">
			<td>{{user.email}}</td>
			<td>{{user.password}}</td>
		</tr>
	</table>

	<div class="input-error-group">
    <input type="text" class="form-control" placeholder="School name" ng-model="reg.university" 
    typeahead="university.name for university in universities | filter:$viewValue | limitTo:8" typeahead-min-length="3" typeahead-editable="false" required>
  </div>
	<table class="table" style="width:100%">
	  <tr>
	  	<td>User ID</td>
	  	<td>First Name</td>
	  	<td>Last Name</td>
	  	<td>Email</td>
	  </tr>
	  <tr ng-repeat = "user in users">
	  	<td>{{user.id}}</td>
	  	<td>{{user.first_name}}</td>
	  	<td>{{user.last_name}}</td>
	  	<td>{{user.email}}</td>
	  </tr>
	</table>
</div>